
// ========== Profile ==========

body.no-scroll {
  overflow-y: hidden;
}

h3 {
  font-size: $fz-h3;
  font-weight: bold;
}
// .intro {
//   display: flex;
//   flex-direction: column;
//   // justify-content: center;
//   // align-items: center;
//   height: 100vh;
// }

.button {
  border: none;
  outline: none;
  // background-color: $cl--primary;
  border: 5px solid $cl--neutral-gray-dark;
  color: $cl--neutral-gray-dark;
  border-radius: 8px;
  text-align: left;
  padding: 14px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    border: 5px solid $cl--primary;
    color: $cl--primary;
  }
}
.btn-popup {
}
.btn-popup--open {
  margin-right: 30px;
  margin-bottom: 10px;
}
.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $cl--primary-light;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  padding: 10px 20px;
  transition: opacity 0.3s ease-in-out;

}
.overflow {
}

.popup-wrapper.active {
  opacity: 1;
  pointer-events: all;
}

.popup {
  padding: 40px;
  max-width: 380px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $cl--neutral-white;
  border-radius: 15px;
}
.profile-info  {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  margin-bottom: 100px;
}

.popup-form {

  &__title {
    margin-bottom: 20px;
  }
}
.popup-form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-popup {


  &--close {
    position: absolute;
    top: 0;
    right: 15px;
    background: none;
    border: none;
    padding: 0;
    border: 0;
    width: 30px;
    height: 55px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s, opacity 0.3s;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 30px;
      background-color: #1f1f1f;
      border-radius: 1.5px;
      transform: translateY(-50%);
    }
    
    &:before {
      transform: translateY(-50%) rotate(45deg);
    }
    
    &:after {
      transform: translateY(-50%) rotate(-45deg);
    }
    
    &:hover {
      transform: scale(1.1);
    }
    
    &:active {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }
  
  &--submit {
    padding: 14px 35px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
  }
}


.popup-form__input {
  margin: 10px 0;
  padding: 12px 20px;
  // width: 80%;

  &:focus {
    border: 1px solid #000000;
  }
}

// -------- input ----------
// @import url('https://rsms.me/inter/inter.css');

:root {
  --size-bezel: .5rem;
  --size-radius: 4px;
  
  line-height: 1.4;
  
  font-size: calc(.6rem + .4vw);
  font-weight: 300;
  //padding: 0 calc(var(--size-beze l) * 3);
}

.input {
  position: relative;
  margin: 10px 0;
  // padding: 12px 20px;
  // margin: 10px 0;
  cursor: text;
  
  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
    color: $cl--neutral-gray;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: $cl--neutral-white;
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
    margin-left: 10px;

  }
  &__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid $cl--neutral-gray;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: $cl--primary;
    background: transparent;
    border-radius: var(--size-radius);
    outline-color: $cl--primary;
    margin: 10px 0;
    // outline: none;
    transition: 0.1s;

    &:hover {
      border: 3px solid $cl--neutral-gray-dark;
    }
    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(.25rem, -65%) scale(.8);
        color: $cl--primary;
      }
    }
  }
}