// === /restoraunt === 

@import 'sidebar';


// ========== restoraunt ==========

.main-card-l {
  width: 350px;

  &--menu {
    
  }
}
.card-img-l {
  width: 350px;
  height: 350px;
  
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
  padding: 0;
  margin: 0;

  // card-img-l--menu
  &--menu {
    height: 250px;
  }
}
