// === Mixins ===

// -- auto import to fonts.scss
@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
    url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

// -- calcs to make adaptiv font
$maxWidth: 1280;
@mixin adaptiv-font($pcFSize, $mobFSize) {
  $addSize: $pcFSize - $mobFSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 767px) {
    font-size: calc(#{$mobFSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (max-width: 767px) {
    font-size: calc(#{$mobFSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

// -- convert px -> vw
$vw-viewport: 1920;
@function get-vw($font){
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return $font / $vw-context * 1vw;
  @return $font;
}
// screan 1920px 
@function vw($px-vw, $base-vw: 1920px) {
    @return ($px-vw * 100vw) / $base-vw;
}
// tablet 768px 
@function vwt($px-vw, $base-vw: 768px) {
  @return ($px-vw * 100vw) / $base-vw;
}
// mobile  320px
@function vwm($px-vw, $base-vw: 320px) {
  @return ($px-vw * 100vw) / $base-vw;
}
// === / Mixins ===


// === Variables ===

$screen-xs: 300px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

$margin: 50px;
$margin-sm: 25px;


// === / Variables ===


// @import 'normalize';
// === Styles ===
body {
  // font-family: 'Exo 2', sans-serif;
  color: #0A143A;
  // font-size: 14px;
  // background: #F1F0F2;
}

// h1, h2, h3, p {
//   // color: rebeccapurple;
//   margin: 0; 
//   padding: 0;
// }
// .button {
//   font-size: vw(16px);
//   padding: vw(26px);
//   border-radius: vw(6px);
//   cursor: pointer;
//   border: none;
//   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
//   outline: none;
//   transition: 0.2s;

//   &:hover {
//     transform: translateY(-2px);
//     transition: 0.1s;
//   }
//   &:active {
//     transform: translateY(4px);
//     transition: 0.1s;
//   }
// }
// a {
//   text-decoration: none;
//   color: #0A143A;
// }
// ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }
// img {
//   width: 100px;
// }
// .wrapper {
//   width: 50%;
// }

// @import '../../node_modules/normalize.css/normalize.css';

// @import 'fonts';
@import 'Healthcare';


// @import 'burger-menu';
// @import 'testGulp';
// === / Styles ===
