body {
  color: #0A143A;
}

/* neutral */

/* fonts */

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #336cfb;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

a:hover {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  color: #336cfb;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #e5e5e5;
  background-repeat: no-repeat;
}

.btn-link {
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  border: rgba(255, 255, 255, 0.2) 2px solid;
  outline: none;
  color: white;
}

.btn-link:hover {
  border: #fff 2px solid;
  color: #fff;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
@supports (-webkit-appearance:none){

}
