@import url("https://rsms.me/inter/inter.css");

body {
  color: #0A143A;
}

/* neutral */

/* fonts */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 20px;
  background: none;
}

a {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

a:hover {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

body {
  background: #e5e5e5;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.btn-link {
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  border: rgba(255, 255, 255, 0.2) 2px solid;
  outline: none;
  color: white;
}

.btn-link:hover {
  border: #fff 2px solid;
  color: #fff;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

h2 {
  font-size: 40px;
}

.h5 {
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #336cfb;
}

.logo__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid;
  padding: 6px 5px;
  border-radius: 50%;
}

.logo__txt {
  font-size: 20px;
  margin-left: 5px;
}

.sidebar {
  background: white;
  position: fixed;
  width: 256px;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.sidebar:hover {
  -webkit-box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
          box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
}

.sidebar:hover .menu-item--divider {
  border-top: 1px solid #a9c1fd;
}

.siedbar-subcontainer {
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidebar-subtitle {
  margin: 20px 0;
  margin-bottom: 0;
  color: #cacccf;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar-menu {
  width: 100%;
}

.menu-item {
  width: 100%;
  margin: 12px 0;
}

.menu-item--divider {
  border-top: 1px solid #e8e8e8;
  padding-top: 12px;
  margin-top: 0;
}

.menu-link {
  margin-left: 25px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.menu-link__txt {
  color: #52575c;
  font-size: 16px;
  font-weight: bold;
}

.menu-link__icon {
  margin-right: 5px;
  color: #cacccf;
}

.menu-link:hover,
.menu-link:hover .menu-link__txt,
.menu-link:hover .menu-link__icon {
  color: #336cfb;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.menu-link:active,
.menu-link:active .menu-link__txt {
  color: #1f58e7;
}

.active > i,
.active > span {
  color: #336cfb;
}

.m {
  display: none;
}

.main {
  margin-left: 300px;
  max-width: 80vw;
}

.nav-container {
  padding-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-term {
  max-width: 350px;
  width: 30vw;
  border: 2px solid transparent;
  border-right: none;
  border-radius: 25px;
  outline: none;
  color: #52575c;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  padding: 15px;
  padding-left: 40px;
}

.search-term:focus,
.search-term:hover {
  border: 2px solid #9b55ff;
}

.search-term:active {
  border: 2px solid #a9c1fd;
}

.btn-search {
  position: absolute;
  width: 50px;
  text-align: center;
  color: #cacccf;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 20px;
  background: none;
}

.notification {
  margin-left: auto;
  margin-right: 25px;
}

.notification__icon {
  font-size: 30px;
  position: relative;
}

.notification__icon::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
  content: "9";
  padding: 5px 8px;
  background: red;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #e5e5e5;
  top: -14px;
  left: 10px;
}

.notification__icon:hover {
  color: #336cfb;
}

.notification__icon:active {
  color: #9b55ff;
}

.user__img {
  width: 50px;
  border-radius: 50%;
  border: 3px solid #cacccf;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.user__img:hover,
.user__img:focus {
  border: 3px solid #a9c1fd;
}

.user__img:active {
  border: 3px solid #9b55ff;
}

.main-container {
  margin-top: 40px;
}

.main__title {
  margin-bottom: 40px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  width: 255px;
  margin: 15px 0;
  margin-right: 30px;
  background: white;
  text-align: center;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.main-card:hover {
  border-top: 2px solid #a9c1fd;
  border-bottom: 2px solid #a9c1fd;
  -webkit-box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
          box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
}

.main-card:active {
  border-top: 2px solid #336cfb;
  border-bottom: 2px solid #336cfb;
  -webkit-box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
          box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
}

.card-img {
  font-size: 75px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.card__title,
h6 {
  font-size: 18px;
  font-weight: bold;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  width: 255px;
  margin-right: 30px;
  background: white;
  text-align: center;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  border-radius: 8px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.main-card:hover {
  border-top: 2px solid #a9c1fd;
  border-bottom: 2px solid #a9c1fd;
  -webkit-box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
          box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
}

.main-card:active {
  border-top: 2px solid #336cfb;
  border-bottom: 2px solid #336cfb;
  -webkit-box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
          box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
}

.card-img {
  font-size: 75px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.card-img-person {
  width: 200px;
  border-radius: 50%;
}

.card-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.card__subtitle {
  margin: 5px;
}

.main-card-l {
  width: 350px;
}

.card-img-l {
  width: 350px;
  border-radius: 8px;
  padding: 0;
  margin: 0;
}

.accordion {
  position: relative;
  margin: 30px 0;
  width: 90%;
}

.accordion:hover {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.accordion__controll {
  display: none;
}

.accordion-faq {
  background: white;
  color: #52575c;
  padding: 25px;
  font-size: 26px;
  border-bottom: 1px solid #e8e8e8;
}

.accordion-faq::before {
  content: "+";
  display: inline-block;
  margin-right: 20px;
}

.accordion-faq {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-content {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
  background-color: white;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.accordion-content p {
  padding: 30px;
}

input:checked ~ .accordion-faq::before {
  content: "-";
}

input:checked ~ .accordion-content {
  max-height: 200px;
}

body.no-scroll {
  overflow-y: hidden;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.button {
  border: none;
  outline: none;
  border: 3px solid #52575c;
  color: #52575c;
  border-radius: 4px;
  text-align: left;
  padding: 14px 35px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  border: 3px solid #336cfb;
  color: #336cfb;
}

.btn-popup--open {
  margin-right: 30px;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 108, 251, 0.5);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  padding: 10px 20px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.popup-wrapper.active {
  opacity: 1;
  pointer-events: all;
}

.popup {
  padding: 40px;
  max-width: 380px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
}

.popup-form__title {
  margin-bottom: 20px;
}

.popup-form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-popup--close {
  position: absolute;
  top: 0;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  border: 0;
  width: 30px;
  height: 55px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.btn-popup--close:before,
.btn-popup--close:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2px;
  height: 30px;
  background-color: #1f1f1f;
  border-radius: 1.5px;
  transform: translateY(-50%);
}

.btn-popup--close:before {
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.btn-popup--close:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.btn-popup--close:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-popup--close:active {
  opacity: 0.8;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.btn-popup--submit {
  padding: 14px 35px;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
}

.popup-form__input {
  margin: 10px 0;
  padding: 12px 20px;
}

.popup-form__input:focus {
  border: 1px solid #000000;
}

:root {
  --size-bezel: .5rem;
  --size-radius: 4px;
  line-height: 1.4;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

.input {
  position: relative;
  margin: 10px 0;
}

.input__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
  color: #a0a4a8;
  white-space: nowrap;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  background: white;
  -webkit-transition: -webkit-transform 120ms ease-in;
  transition: -webkit-transform 120ms ease-in;
  -o-transition: transform 120ms ease-in;
  transition: transform 120ms ease-in;
  transition: transform 120ms ease-in, -webkit-transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
  margin-left: 10px;
}

.input__field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid #a0a4a8;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: #336cfb;
  background: transparent;
  border-radius: var(--size-radius);
  outline-color: #336cfb;
}

.input__field:not(:-moz-placeholder-shown) + .input__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: #336cfb;
}

.input__field:not(:-ms-input-placeholder) + .input__label {
  -ms-transform: translate(0.25rem, -65%) scale(0.8);
      transform: translate(0.25rem, -65%) scale(0.8);
  color: #336cfb;
}

.input__field:focus + .input__label,
.input__field:not(:placeholder-shown) + .input__label {
  -webkit-transform: translate(0.25rem, -65%) scale(0.8);
      -ms-transform: translate(0.25rem, -65%) scale(0.8);
          transform: translate(0.25rem, -65%) scale(0.8);
  color: #336cfb;
}
@supports (-webkit-appearance:none){

}
